

.chat-container {
    display: flex;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #6b6b6b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  /* Estilos para la barra lateral */
  .sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 250px; /* Anchura fija de 250px */
    background-color: #0a4253;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-height: 100%;
    overflow-y: auto;
  }

  .sidebar .card-header {
    font-size: 8px; /* Ajusta el tamaño deseado */
  }
  
  /* Estilos para el área de mensajes y el cuadro de entrada de texto */
  .message-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  /* Estilos para el área de mensajes */
  .message-area {
    flex: 1; background-color: #3b3b3b; /* Cambia el color de fondo */
    padding: 10px;
    padding: 20px;
    overflow-y: auto;
  }



  /* Estilos para los mensajes del chat */
  .message {
    background-color: #3b3b3b;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(85, 85, 85, 0.1);
    margin-bottom: 10px;
    display: flex; /* Usa flexbox para alinear elementos horizontalmente */
    justify-content: center; /* Alinea los elementos en los extremos */
    flex-direction: column; 
    
  }
  .message p:first-child {
    color: rgb(248, 242, 242); /* Cambia el color del primer párrafo al blanco */
  }
  /* Resto de tus estilos CSS */

  .message-images {
    display: flex;
    justify-content: flex-end; /* Alinea las imágenes al extremo derecho */
    align-items: flex-start; /* Alinea las imágenes en la parte superior */
    gap: 10px; /* Espacio entre imágenes */
    margin-top: -50px; /* Ajusta el margen superior para mover las imágenes más arriba */
  }
  
  .message-images img {
    width: 30px; /* Cambia el ancho deseado para las imágenes */
    height: auto; /* Altura se ajustará automáticamente para mantener la proporción */
    border: 1px solid #ccc; /* Agrega un borde de 1px sólido en color gris */
    border-radius: 20%;/* Agrega un borde de 20% para hacerlo redondeado */
  }

  /* Estilos para el cuadro de entrada de texto */
  .input-box {
    display: flex;
    background: #3a3b3b;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .message-input {
    flex: 1;
    background: #3a3b3b;
    padding: 10px;
    border: 1px solid #65b6e6;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .input-images {
    position: absolute;
    top: -25px; /* Ajusta la posición vertical de las imágenes */
    display: flex;
    align-items: center;
    gap: 10px;
    left: 10px; /* Ajusta la posición horizontal de las imágenes */
  }
  
  .input-images img {
    width: 30px; /* Cambia el ancho deseado para las imágenes */
    height: auto; /* Altura se ajustará automáticamente para mantener la proporción */
    border: 1px solid #ccc; /* Agrega un borde de 1px sólido en color gris */
    border-radius: 35%;/* Agrega un borde de 20% para hacerlo redondeado */
  }
  /* Estilos para el botón de enviar */
  .send-btn {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #65b6e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Estilos para la imagen de usuario */
  .img {
    width: 40px; /* Ajusta el tamaño de la imagen */
    height: 40px; /* Ajusta el tamaño de la imagen */
    border-radius: 50%; /* Convierte la imagen en un círculo */
    margin-left: 10px;
  }

  /* Estilos para el título y los botones en la barra lateral */
  .sidebar h2, .sidebar-buttons {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-buttons .btn {
    margin-right: 10px;
    border-radius: 15px;
  }
  .small-text {
    font-size: 12px;
    color: #ccc;
    margin-top: 0px; /* Ajusta este valor según tus preferencias */
  }
  .card-header-pills {
    border: 1px solid #65b6e6; /* Borde de color verde */
    padding: 10px; /* Agrega espacio interno para el borde */
    border-radius: 10px; /* Añade el borde redondeado */
  }
  
  .medium-text {
    font-size: 16px;
    color: #ffffff;
    margin: 0; /* Elimina el margen predeterminado */
  }
  

  .additional-text-right {
    text-align: right;
  }
  
/* Estilos para el contenedor de mensajes y fechas */
/* Estilos para el contenedor de mensajes y fechas */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; /* Aplica un margen de 10px alrededor del contenedor */
}

/* Estilos para el elemento mensaje */
.mensaje {
  /* ... (otros estilos) ... */
  margin: 0; /* Ajusta el margen del mensaje según sea necesario */
  margin-right: 20px; 
  color: #918e8e;/* Agrega margen a la derecha del mensaje */
}

/* Estilos para el elemento fecha */
.fecha {
  /* ... (otros estilos) ... */
  margin: 0; /* Ajusta el margen de la fecha según sea necesario */
  margin-left: 20px;
  color: #918e8e;/* Agrega margen a la izquierda de la fecha */
}

/* Estilos para los botones en la parte inferior */
.botones-abajo img {
  max-width: 100%; /* La imagen no será más ancha que su contenedor */
  height: auto; /* Altura se ajustará automáticamente para mantener la proporción */
}
.imagenes-abajo {
  display: flex;
  justify-content: flex-start; /* Alinea al principio del contenedor */
  align-items: flex-end; /* Alinea las imágenes en la parte inferior */
  gap: 10px; /* Agrega un espacio entre las imágenes */
  margin-top: auto; /* Empuja las imágenes hacia abajo */
}

.imagenes-abajo img {
  width: 30px; /* Cambia el ancho deseado para las imágenes */
  height: auto; /* Altura se ajustará automáticamente para mantener la proporción */
  border: 1px solid #ccc; /* Agrega un borde de 1px sólido en color gris */
  border-radius: 20%;/* Agrega un borde de 1px sólido en color gris */
}
.imagenes-abajo img:nth-child(3) {
  width: 30px; /* Cambia el ancho de la imagen 3 */
  margin-right: 30px; /* Agrega espacio a la derecha de la imagen 3 */
}
