*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #ffffff;
}
.container{
    display: grid;
    place-items: center;
}
.semaforo{
    position: relative; /* Agregamos posición relativa al semáforo */
    width: 300px; /* Ajusta el ancho del semáforo */
    height: 600px; /* Ajusta la altura del semáforo */
    border-radius: 30px;
    display: grid;
    place-items: center;
    background-color: #535d51;
    padding: 20px; /* Aumenta el padding para dar más espacio entre las luces */
}

/* Agregamos un div para las nubes en el fondo */
.clouds {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  background-image: url('ruta-de-tu-imagen-de-nubes.jpg');
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: cover;
  z-index: -1; /* Aseguramos que esté detrás del semáforo */
}

.luces-circulo{
    display: block;
    width: 140px; /* Ajusta el tamaño del círculo de las luces */
    height: 140px; /* Ajusta el tamaño del círculo de las luces */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}
.luces-circulo::after{
    content: '';
    position: absolute;
    width: 120px; /* Ajusta el tamaño del círculo interior de las luces */
    height: 120px; /* Ajusta el tamaño del círculo interior de las luces */
    border-radius: 50%;
    border-right: 6px solid rgba(255, 255, 255, 0.6);
    top: 5%;
}
.stick{
    width: 16px; /* Ajusta el ancho del poste del semáforo */
    height: 560px; /* Ajusta la altura del poste del semáforo */
    background-color: rgba(55, 62, 53, 0.5);
}

.red{
    background-color: #c0392b;
    box-shadow: 0 0 10px 1px #c0392b;
}
.yellow{
    background-color: #f1c40f;
    box-shadow: 0 0 10px 1px #f1c40f;
}
.green{
    background-color: #2ecc71;
    box-shadow: 0 0 10px 1px #2ecc71;
}
