/* Estilos anteriores como se proporcionó en mi respuesta anterior */

/* Nuevo estilo para agregar animación */
@keyframes redLightOn {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
  }
  
  @keyframes yellowLightOn {
    0%, 100% { opacity: 1; }
    25%, 75% { opacity: 0.3; }
  }
  
  @keyframes greenLightOn {
    0%, 100% { opacity: 1; }
  }
  
  @keyframes lightOff {
    0%, 100% { opacity: 0.3; }
  }
  
  .traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444;
    border-radius: 10px;
    padding: 10px;
  }
  
  .light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
    opacity: 0.3;
  }
  
  .red {
    background-color: #ff5555;
    animation: redLightOn 4s linear infinite, lightOff 4s linear infinite;
  }
  
  .yellow {
    background-color: #ffff55;
    animation: lightOff 4s linear infinite, yellowLightOn 4s linear infinite, lightOff 4s linear infinite;
  }
  
  .green {
    background-color: #55ff55;
    animation: greenLightOn 4s linear infinite;
  }
  